<h2>Просмотр всех ответов</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Номер вопроса</th>
            <th>Вопрос</th>
            <th>Правильно</th>
            <th>Не правильно</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Data in ViewBag.ResultTable)
        {
        <tr>
            <td><p>@Data.QuestionID</p></td>
            <td><p>@Data.Question</p></td>
            <td><p>@Data.AnswersTrue</p></td>
            <td><p>@Data.AnswersFalse</p></td>
        </tr>
        }
    </tbody>
</table>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Анкетирование пользователей'
        },
        xAxis: {
            categories: [
                @foreach (var Data in ViewBag.ResultTable)
                {
                    <text>
                        @Data.QuestionID,
                    </text>
                }
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Количество'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">Вопрос {point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Правильно',
            data: [
                @foreach (var Data in ViewBag.ResultTable)
                {
                    <text>
                        @Data.AnswersTrue,
                    </text>
                }
            ]

        }, {
            name: 'Не правильно',
            data: [
                @foreach (var Data in ViewBag.ResultTable)
                {
                    <text>
                        @Data.AnswersFalse,
                    </text>
                }
            ]

        }]
    });
</script>