<div>
    <input type="button" class="btn btn-success" style="float:right;" id="saveButton" value="Сохранить ответы" />
    <ul class="nav nav-tabs nav-pills" role="tablist">
        @for (int i = 1; i <= ViewBag.Questions.Length; i++)
        {
            <li><a href="#question_@ViewBag.Questions[i-1].ID" role="presentation" data-toggle="tab">Вопрос @i</a></li>
        }
    </ul>
    <div class="tab-content">
        @for (int i = 1; i <= ViewBag.Questions.Length; i++)
        {
            <div role="tabpanel" class="tab-pane" id="question_@ViewBag.Questions[i-1].ID">
                Вопрос: @ViewBag.Questions[i - 1].Question
                <br />
                Ваш ответ:
                <select id="AnswerQuestion_@ViewBag.Questions[i-1].ID">
                    @foreach (var Answer in @ViewBag.Questions[i - 1].Answers)
                    {
                        <option value="@Answer.ID">@Answer.AnswerText</option>
                    }
                </select>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    let Answer = [
        @for (int i = 0; i < ViewBag.Questions.Length; i++)
        {
            <text>
                {
                    User: '@ViewBag.User',
                    QuestionID: @ViewBag.Questions[i].ID,
                    AnswerID: 'AnswerQuestion_@ViewBag.Questions[i].ID',
                },
            </text>
        }
    ];
    $('#saveButton').click(function(){
        for(index in Answer){
            Answer[index]['AnswerID'] = $('#'+Answer[index]['AnswerID']).val();
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("SaveSurvey", "Home")",
            data: {
                Answers: JSON.stringify(Answer),
            },
            success: function(){
                alert("Ваши ответы успешно записаны!");
                window.location.replace('@Url.Action("Index", "Home")')
            },
            beforeSend: function(){ 
                $('#saveButton').val("Данные отправляются!");
                $('#saveButton').removeClass('btn-success');
                $('#saveButton').addClass('btn-danger');
                $('#saveButton').prop( "disabled", true);
            },

        });
    });
</script>